body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 0;
  margin-bottom: 5.5rem;
}

.currencyForm {
  padding: 0.9rem;
  width: 15em;
  border: 1px solid lightgray;
  border-radius: 0.3em;
}

select {
  margin-left: 0.5rem;
  padding: 0.7rem 1.2rem;;
}

.equalsSign {
  font-weight: bold;
  font-size: 2rem;
}

.exchangeForm {
  border: 1px solid black;
  padding: 70px 50px;
} 

.shadow{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

